@using Microsoft.AspNetCore.Http;
@model Customer;

@{
    ViewData["Title"] = "Gallery";
    Layout = "_galleryLayout";
    string uname = (string)ViewData["username"];
}

@section Scripts
{
    <script>
        var updateCart = function (url) {
            $("#cartButton").load(url);
        };
    </script>
}
<h1>@ViewData["_galleryLayout"]</h1>

<p>Welcome to T8A SoftStore's Product Gallery : Product Information</p>
<div align="center">
    <form action="/Gallery/Gallery" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control input-sm" minlength="1" maxlength="64" placeholder="Search for product" name="keyword" value=@(ViewBag.keyword)>
        </div>
        <div class="form-group">
            <input class="button-primary" type="submit" value="Search">
        </div>
    </form>
</div>
<br />


@{


    foreach (Product product in @ViewBag.Product)
    {
        var str = "/Cart/AddtoCart";
        <div class="gallery_product col-lg-3 col-md-4 col-xs-6">
            <form action=@str class="form-inline">
                <div><h3 class="title">@product.productName</h3></div>
                <div><p class="desc">@product.description</p></div>
                <div></div>
                <img src="@product.Image" width="120" height="120"><p></p>
                <div>Price: $@product.unitPrice</div><p></p>
                <input name="productId" type="hidden" value="@product.Id" />
                <input class="button-primary" type="submit" value="Add To Cart">
            </form>
        </div>
        <div></div>
        <td></td>
        <td></td>
        <div></div>
        <td></td>
        <td></td>
        @Html.Raw("<b>RECOMMENDATIONS OF SIMILAR PRODUCTS:</b>")

        @foreach (Product recommendation in @ViewBag.Recommendation)
        {
            <div><a href="/Product/View2?newid=@recommendation.Id"><p class="title">@recommendation.productName</p></a></div>
            //<div><p class="title">@recommendation.RecommendedProduct2</p></div>
            //<div><p class="title">@recommendation.RecommendedProduct3</p></div>
            <p>
            </p>

        }

        <div></div>
        <td></td>
        <td></td>
        <div></div>
        <td></td>
        <td></td>
        @Html.Raw("<b>REVIEWS BY CUSTOMERS:</b>")

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

        <table style="width:100%">
            <tr>
                <th>Review Date</th>
                <th>Review Comments</th>
                <th>Stars</th>
            </tr>

            @foreach (Review review in ViewBag.Review)
            {
                <tr>
                    <th>@review.CreationTime</th>
                    <th>@review.Comments</th>
                    <th>@review.Stars</th>
                </tr>
            }
        </table>







        @Html.Raw("<b>Submit your review for this product:</b>")

        <form id="submitreview" action="/Product/SubmitReview" method="POST">
            <label for="comments">Comments:</label><br>
            <input type="text" id="comments" name="comments" value=""><br>
            <label for="stars">Number of stars (maximum 5)</label><br>
            <input type="text" id="stars" name="stars" value=""><br><br>
            <input name="newid" type="hidden" value="@product.Id">
            <input type="submit" value="Submit">
        </form>



    }


}




