@using Microsoft.AspNetCore.Http;
@model Purchase;


@{
    ViewData["Title"] = "Purchase History";
    Layout = "_galleryLayout";

}
<h1>@ViewData["_galleryLayout"]</h1>

<p>Welcome to T8A SoftStore's Product Gallery : Purchase History</p>



@{   if  (ViewBag.Purchases == null)
    { 
    <p>No purchase history</p>
}

    else
    {
        foreach (var purchase in ViewBag.Purchases)
        {

<div class="gallery_product col-lg-3 col-md-4 col-xs-6">
    <div><p class="purchasedate">Purchase Date: @purchase.UTCPurchaseDate</p></div>
    <div><p class="cartid">Cart ID: @purchase.CartId </p></div>
    <div><h4 class="Productname">Product Name: @purchase.Product.productName</h4></div>
    <div><img src="~/lib/images/@product.Image" width="42" height="42"></div>
    <div><p class="Productid">Product ID: @purchase.ProductId</p></div>
    <div><p class="purchasekey">Activation Key: @purchase.ActivationKey</p></div>

    <p>
    </p>

</div>




            }
        }
    }



